/* You can add global styles to this file, and also import other style files */
.main-logo {
  background-image: url("./assets/images/BFGoodLogo.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  height: 100vh;
}
